1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [10]:
MM=[]
for i in range(1,101) :
    if i%3==0 and i%5!=0:
        a="Mickey"
        MM.append(a)
    if i%5==0 and i%3!=0:
        a="Mouse"
        MM.append(a)
    if i%3==0 and i%5==0:
        a="MickeyMouse"
        MM.append(a)
    if i%3!=0 and i%5!=0:
        a=i
        MM.append(a)
        
print(MM)

for j in range(len(MM)+1):
    if j%3==0 and j%5!=0:
         MM[j-1]="Donald"
    if j%5==0 and j%3!=0:
         MM[j-1]="Duck"
    if j%5==0 and j%3==0:
         MM[j-1]="DonaldDuck"
    
lista_fissa=tuple(MM)

print(lista_fissa)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
a=input("il valore di a è : ")
b=input("il valore di b è : ")

def swap(a,b):
    c=b
    b=a
    a=c
    print(a)
    print(b)
    
swap(a,b)

il valore di a è : 33
il valore di b è : 33
33
33

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import math

print("inserire le due coordinate di a :")
a=(input(),input())
print("inserire le due coordinate di b :")
b=(input(),input())

def euclidean (a,b):
    x1=float(a[0])
    y1=float(a[1])
    x2=float(b[0])
    y2=float(b[1])
    distanza=math.sqrt(pow((x2-x1),2)+pow((y2-y1),2))
    print("la distanza tra i due punti è :" ,distanza)
               
euclidean(a,b)

inserire le due coordinate di a :
3
3
inserire le due coordinate di b :
3
3
la distanza tra i due punti è : 0.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

aux=s.lower()
caratteri=""
numero=""
numero_caratteri=""


for x in aux:
    a=str(aux.count(x))
    y=caratteri.find(x)
    if y==-1:                          #in questo modo sono sicuro che il carattere x non sia già presente in caratteri
        caratteri=caratteri + x +" \n "
        numero=numero + a + "\n "
        numero_caratteri= numero_caratteri+ x +" "+ a +"\n" 

print(numero_caratteri)

w 2
r 17
i 14
t 19
e 22
a 7
p 8
o 13
g 1
m 12
h 9
n 10
s 9
u 9
b 5
f 10
1 2
0 2
. 2
l 6
c 3
k 2
y 2
d 3
v 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

verifica=[]

def unique(l):
    for x in range(len(l)-1):
        contatore=1
        for y in range(len(l)-1):
            if x!=y and l[x]!=l[y] :
                contatore=contatore+1
        if contatore==len(l)-1:
            verifica.append(l[x])
    
    print(verifica)

unique(l)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
import math

def square(a):
    return pow(a,2)

def third(a):
    return pow(a,3)

def sixth(a):
    return(third(square(a)))

print("Inserire il valore che sarà elevato alla sesta : ")
a=float(input())

sixth(a)

Inserire il valore che sarà elevato alla sesta :
4

4096.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
import math

l=[]

for i in range (0,11):
    l.append(pow(i,3))

m=[pow(x,3) for x in range (0,11)]

print(l)
print(m)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
x=[int(a) for a in range (1,100)]
y=[int(b) for b in range (1,100)]
z=[int(c) for c in range (1,100)]

triple_Pi=[]


for i in range(len (x)):
    for j in range(len (y)):
        for k in range(len (z)):
            if x[i]*x[i]+y[j]*y[j]==z[k]*z[k]:
                triple_Pi.append([x[i],y[j],z[k]])


Pythagorean=(triple_Pi)

print(Pythagorean)

[[3, 4, 5], [4, 3, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 6, 10], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 5, 13], [12, 9, 15], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 8, 17], [15, 20, 25], [15, 36, 39], [16, 12, 20], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 15, 25], [20, 21, 29], [20, 48, 52], [21, 20, 29], [21, 28, 35], [21, 72, 75], [24, 7, 25], [24, 10, 26], [24, 18, 30], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 21, 35], [28, 45, 53], [30, 16, 34], [30, 40, 50], [30, 72, 78], [32, 24, 40], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 12, 37], [35, 84, 91], [36, 15, 39], [36, 27, 45], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 9, 41], [40, 30, 50], [40, 42, 58], [40, 75, 85], [42, 40, 58], [42, 56, 70], [44, 33, 55], [45, 24, 51], [45, 28, 53], [45, 60, 75], [48, 14, 50], [48, 20, 52], [48, 36, 60], [48, 55, 73], [48, 64, 80], [51, 68, 85], [52, 39, 65], [54, 72, 90], [55, 48, 73], [56, 33, 65], [56, 42, 70], [57, 76, 95], [60, 11, 61], [60, 25, 65], [60, 32, 68], [60, 45, 75], [60, 63, 87], [63, 16, 65], [63, 60, 87], [64, 48, 80], [65, 72, 97], [68, 51, 85], [70, 24, 74], [72, 21, 75], [72, 30, 78], [72, 54, 90], [72, 65, 97], [75, 40, 85], [76, 57, 95], [77, 36, 85], [80, 18, 82], [80, 39, 89], [84, 13, 85], [84, 35, 91]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
import math

a=[]
numero=0

numeri=input("Quanti numeri vuoi inserire ? ")

for i in range(int(numeri)):
    numero=float( input() )
    a.append(numero)
    

aux1=tuple(a)   

print("la tuple inserita è :",aux1)

def norm(x):
    if type(x)==tuple:
        tot=0
        y=[]
        z=[]
        for j in range(len(x)):
            y.append(x[j])
    
        for i in range(len(y)):
            tot=tot+float(y[i]*y[i])
                                  
        for k in range(len(y)):
            z.append(y[k]/math.sqrt(tot))
    
        aux2=tuple(z)

        return("la tuple normalizzata è :",aux2)
    else :
        return("Errore:inserire un tuple")
   

norm(aux1)

Quanti numeri vuoi inserire ? 4
1
2
3
4
la tuple inserita è : (1.0, 2.0, 3.0, 4.0)

('la tuple normalizzata è :',
 (0.18257418583505536,
  0.3651483716701107,
  0.5477225575051661,
  0.7302967433402214))